.category section{
    background-color: #e9edf1;
    padding: 1.5rem 2rem;
    border-radius: 14px;
}
.category-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.add-category-span-element{
    display: flex; 
    justify-content: space-between;
    margin-bottom: 2rem;
}
.all-announcement{
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    padding: 1rem;
}