@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;


    --colorOfHeaderDARK : #1d212c;
    --colorOfHeaderButtonYELLOW : #fdcd56;
    --colorOfCategoryBackground : #e9edf1;
    --colorOfSmallDivider : #f3f6f95b;
    --backgroundColorOfAnnouncementAtag : #333847;

}


header{
    background-color: var(--colorOfHeaderDARK);
}
.small-divider {
    background-color: var(--colorOfSmallDivider);
    width: 1px;
    height: 2rem;
}
.colorOfSmallDivider{
    color: var(--colorOfSmallDivider);
}
